// Primary
$black: #0f161a;

// Secondary
$white: #fff;

// Colors
$blue: #4169e1;
$blue-dark: #191970;
$purple: #800080;

// Shades of gray
$gray-1: #263238;
$gray-2: #586674;
$gray-3: #6f8590;
$gray-4: #e3e6e8;
$gray-5: #e2e6e9;
$gray-6: #f5f7f8;
$gray-7: rgba(38, 50, 56, 0.1);
