/** 
  * CARDS
**/

.card-post {
  background-color: $hex-fff;
  border-radius: 5px;
  transition: all 300ms;
  position: relative;

  &:hover {
    box-shadow: 0 7px 30px 0 $hex-263-RGBA;
  }

  header time {
    background-color: $hex-6f8;
    border-radius: 5px 5px 0 0;
    color: $hex-fff;
    display: block;
    font-size: $px-12;
    font-weight: 700;
    padding: 7px;
    text-align: center;
  }

  header a img {
    max-height: 200px;
    margin: 0 auto;
    opacity: 1;
    transition: all 300ms;

    &:hover {
      opacity: 0.7;
    }
  }

  section {
    padding: 15px;
  }

  section .card-title a {
    color: $hex-0f1;
    display: block;
    font-size: $px-20;
    margin-bottom: 7px;
    word-break: break-word;
  }

  section .post-categories {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 10px;
  }

  section .post-categories a[rel] {
    border: 1px solid $hex-ccc;
    color: $hex-6f8;
    font-size: $px-10;
    font-weight: 700;
    text-transform: uppercase;
    padding: 3px 5px;
  }

  section p {
    color: $hex-6f8;
    font-size: $px-14;
    line-height: 1.5;
    height: 90px;
    margin-bottom: 20px;
    overflow-y: auto;
  }

  footer {
    position: absolute;
    bottom: 7px;
    right: 15px;
  }

  footer a[rel="author"] {
    color: $hex-0f1;
    display: block;
    font-size: $px-12;
    font-weight: 700;
    padding-bottom: 3.5px;
    text-align: center;
  }
}
