/** 
  * WIDGETS
**/

.widget {
  background-color: $hex-fff;
  border: 1px solid $hex-263-RGBA;
  padding: 20px;
}

.widget + .widget {
  margin-top: 20px;
}

.widget-title {
  font-size: $px-20;
  margin-bottom: 20px;
  text-align: center;
}

/* widget_search */
.widget_search form {
  display: flex;
  flex-direction: column;

  @include breakpoint( xl ) {
    flex-direction: row;
  }
}

.widget_search form input {
  border: 1px solid $hex-ccc;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  padding: 10px;
  width: 100%;

  @include breakpoint( xl ) {
    border-bottom: 1px solid $hex-ccc;
    border-radius: 3px 0 0 3px;
    width: 220px;
  }
}

.widget_search form button {
  background-color: $hex-e3e;
  border: none;
  border-radius: 0 0 3px 3px;
  cursor: pointer;
  flex: 1;
  padding: 7px;
  transition: all 300ms;

  @include breakpoint( xl ) {
    border-radius: 0 3px 3px 0;
  }
}

.widget_search form button:hover {
  background-color: $hex-0f1;
  color: $hex-fff;
}

/* widget_archive */
.widget_archive ul {
  list-style: none;
}

.widget_archive ul li {
  font-size: $px-12;
}

.widget_archive ul li + li {
  margin-top: 10px;
}

.widget_archive ul li a {
  border: 1px solid $hex-ccc;
  display: block;
  font-size: $px-14;
  padding: 7px 15px;
  text-decoration: none;
  transition: all 300ms;
}

.widget_archive ul li a:hover {
  background-color: $hex-0f1;
  color: $hex-fff;
}

.widget_archive select[name="archive-dropdown"] {
  width: 100%;
}
