/** 
  * VARIABLES
**/

/* colors */
$hex-fff: #fff;
$hex-f1f: #f1f1f1;
$hex-f5f: #f5f7f8;
$hex-e2e: #e2e6e9;
$hex-e3e: #e3e6e8;
$hex-586: #586674;
$hex-6f8: #6f8590;
$hex-000-RGBA: #00000099; /* rgba(0, 0, 0, 0.6) */
$hex-0f1: #0f161a;
$hex-263: #263238;
$hex-263-RGBA: #2632381a; /* rgba(38, 50, 56, 0.102) */
$hex-217: #21759b;
$hex-416: #4169e1;
$hex-191: #191970;
$hex-800: #800080;

/* font-family */
$helvetica: helvetica, arial, sans-serif;
$georgia: georgia, times, serif;
$courier: courier, monospace;

/* font-size / line-height: 1-10 */
$px-1: rem(1);
$px-2: rem(2);
$px-3: rem(3);
$px-4: rem(4);
$px-5: rem(5);
$px-6: rem(6);
$px-7: rem(7);
$px-8: rem(8);
$px-9: rem(9);
$px-10: rem(10);

/* font-size / line-height: 11-20 */
$px-11: rem(11);
$px-12: rem(12);
$px-13: rem(13);
$px-14: rem(14);
$px-15: rem(15);
$px-16: rem(16);
$px-17: rem(17);
$px-18: rem(18);
$px-19: rem(19);
$px-20: rem(20);

/* font-size / line-height: 21-30 */
$px-21: rem(21);
$px-22: rem(22);
$px-23: rem(23);
$px-24: rem(24);
$px-25: rem(25);
$px-26: rem(26);
$px-27: rem(27);
$px-28: rem(28);
$px-29: rem(29);
$px-30: rem(30);

/* font-size / line-height: 31-40 */
$px-31: rem(31);
$px-32: rem(32);
$px-33: rem(33);
$px-34: rem(34);
$px-35: rem(35);
$px-36: rem(36);
$px-37: rem(37);
$px-38: rem(38);
$px-39: rem(39);
$px-40: rem(40);

/* font-size / line-height: 41-50 */
$px-41: rem(41);
$px-42: rem(42);
$px-43: rem(43);
$px-44: rem(44);
$px-45: rem(45);
$px-46: rem(46);
$px-47: rem(47);
$px-48: rem(48);
$px-49: rem(49);
$px-50: rem(50);
