/** 
  * RESET CSS
**/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-size: $px-16;
  font-family: $helvetica;
  line-height: $px-24;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: $hex-416;
  text-decoration: none;
}

a:hover {
  color: $hex-191;
  text-decoration: underline;
}

pre {
  font-family: $courier;
}
