/** 
  * CONTAINER
  ** breakpoints: SM (mobile), MD (tablet), LG (laptop), XL (desktop)
**/

.container {
  min-width: 200px;
  margin-left: 20px;
  margin-right: 20px;
}

/* LG (laptop) */
@media (min-width: 1025px) {
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* XL (desktop) */
@media (min-width: 1366px) {
  .container {
    max-width: 1234px;
  }
}
