/** 
  * CONTAINER
  ** breakpoints: SM (mobile), MD (tablet), LG (laptop), XL (desktop)
  ** container: flex
  ** container: grid (@supports)
**/

/* container: flex (breakpoints: SM / MD / LG) */
.container {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}

/* container: flex (breakpoint: XL) */
@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* container: grid (@supports) */
@supports (display: grid) {
  .container {
    display: grid;
    grid-template-columns: [content-start] minmax(200px, 1200px) [content-end];
  }

  .container > * {
    grid-column: content;
  }
}
