/** 
  * CONTAINER
  ** SM (mobile: 343px), MD (tablet: 700px), LG (laptop: 1000px), XL (desktop: 1234px)
**/

.container {
  $container-sm: 343px;
  $container-md: 700px;
  $container-lg: 1000px;
  $container-xl: 1234px;

  max-width: $container-sm;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint( md ) {
    max-width: $container-md;
  }

  @include breakpoint( lg ) {
    max-width: $container-lg;
  }

  @include breakpoint( xl ) {
    max-width: $container-xl;
  }
}
