/** 
  * ACCESSIBILITY
**/

/* skip-link */
.skip-link {
  background-color: $hex-f1f;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px $hex-000-RGBA; 
  color: $hex-217;
  display: block;
  min-width: max-content;
  padding: 10px 15px;
  position: absolute;
  pointer-events: none;
  top: -100px;
  left: 5px;
  z-index: -1000;
}

.skip-link:focus {
  top: 60px;
  pointer-events: initial;
  z-index: 1000;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: $hex-f1f;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px $hex-000-RGBA;
  color: $hex-217;
  clip: auto !important;
  clip-path: none;
  display: block;
  font-size: $px-14;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}
