// font-family (variables)
$font_arial: arial, ubuntu, roboto, noto, -apple-system, helvetica, sans-serif;
$font_georgia: Georgia, "Times New Roman", Times, serif;
$font_courier: "Courier 10 Pitch", courier, monospace;
$font_monaco: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
