/** 
  * FOOTER
**/

.footer {
  background-color: $hex-fff;
  border-top: 2px solid $hex-263-RGBA;
  color: $hex-586;
}

.footer > .container {
  flex-direction: row;
  column-gap: 5px;
  justify-content: center;
  padding: 20px 0;
}

.footer__copy {
  text-transform: capitalize;
}
