/** 
  * HEADER
  ** breakpoints: SM (mobile), MD (tablet), LG (laptop), XL (desktop)
  ** menu mobile
**/

.header {
  background-color: $hex-fff;
  border-bottom: 2px solid $hex-263-RGBA;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header > .container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  color: $hex-0f1;
  font-size: $px-24;
  text-transform: capitalize;
}

.header__nav {
  background-color: $hex-0f1;
  color: $hex-fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  transition: all 500ms;
}

.header__nav .really-first-menu,
.header__nav .really-first-menu > ul {
  list-style: none;
}

/* menu mobile */
.header__nav:target,
.admin-bar .header__nav:target {
  top: 46px;
  opacity: 1;
  pointer-events: initial;
  overflow: auto;
}

.header__nav:target {
  top: 0;
}

.header__nav:target .really-first-menu {
  border-top: 2px solid $hex-fff;
  padding: 30px 30px 100px 30px;
}

.header__nav:target .menu-item + .menu-item {
  margin-top: 10px;
}

.header__nav:target .really-first-menu .menu-item a {
  background-color: $hex-263;
  border: 1px solid $hex-586;
  border-radius: 3px;
  color: $hex-fff;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  transition: all 300ms;
}

.header__nav:target .really-first-menu .menu-item a:active,
.header__nav:target .really-first-menu .menu-item a:hover {
  background-color: $hex-586;
  color: $hex-fff;
}

.header__nav:target .really-first-menu .menu-item a ~ .sub-menu {
  margin-top: 10px;
  padding-left: 18px;
}

.header__nav:target .really-first-menu .menu-item > .sub-menu .menu-item a {
  border: none;
}

.header__nav:target .page_item_has_children .children {
  display: none;
}
