/** 
  * HEADER
  ** breakpoints: LG (laptop)
**/

.header {
  background-color: $hex-fff;
  border-bottom: 2px solid $hex-263-RGBA;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header > .container {
  column-gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header .custom-logo-link {
  line-height: 0;
  max-width: 250px;
}

.header__title {
  color: $hex-0f1;
  font-size: $px-24;
  font-weight: 700;
  text-transform: capitalize;
}

.header__nav {
  background-color: $hex-0f1;
  color: $hex-fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  transition: all 500ms;
}

.header__nav .really-first-menu,
.header__nav .really-first-menu > ul {
  list-style: none;
}

/* SM (mobile) MENU */
.header__nav:target,
.admin-bar .header__nav:target {
  top: 46px;
  opacity: 1;
  pointer-events: initial;
  overflow: auto;
}

.header__nav:target {
  top: 0;
}

.header__nav:target .really-first-menu {
  border-top: 2px solid $hex-fff;
  padding: 30px 30px 100px 30px;
}

.header__nav:target .menu-item + .menu-item {
  margin-top: 10px;
}

.header__nav:target .really-first-menu .menu-item a {
  background-color: $hex-263;
  border: 1px solid $hex-586;
  border-radius: 3px;
  color: $hex-fff;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  transition: all 300ms;
}

.header__nav:target .really-first-menu .menu-item a:active,
.header__nav:target .really-first-menu .menu-item a:hover {
  background-color: $hex-586;
  color: $hex-fff;
}

.header__nav:target .really-first-menu .menu-item a ~ .sub-menu {
  margin-top: 10px;
  padding-left: 18px;
}

.header__nav:target .really-first-menu .menu-item > .sub-menu .menu-item a {
  border: none;
}

.header__nav:target .page_item_has_children .children {
  display: none;
}

/* MD (tablet) */
@media (min-width: 768px) {
  .header > .container {
    margin-left: 70px;
    margin-right: 70px;
  }

  .header__title {
    font-size: $px-26;
  }

  .header__nav {
    background-color: transparent;
    color: $hex-0f1;
    opacity: 1;
    position: static;
    pointer-events: initial;
  }

  .really-first-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
  }

  .really-first-menu .menu-item a {
    color: $hex-0f1;
    display: block;
    border-radius: 3px;
    padding: 5px 10px;
    transition: all 300ms;
  }

  .really-first-menu .menu-item a:hover {
    background-color: $hex-0f1;
    color: $hex-fff;
    text-decoration: none;
  }

  .really-first-menu .menu-item-has-children {
    position: relative;
  }

  .really-first-menu .menu-item-has-children::after {
    content: "›";
    color: $hex-0f1;
    display: inline-block;
    font-size: $px-14;
    position: absolute;
    bottom: 3px;
    right: 0;
    transform: rotate(90deg);
  }

  .really-first-menu .menu-item-has-children .sub-menu {
    box-shadow: 0px 1px 20px 5px $hex-263-RGBA;
    position: absolute;
    left: -30px;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transform: translateY(30px);
    transition: all 300ms;
    z-index: -100;
  }

  .really-first-menu .menu-item:hover > .sub-menu,
  .really-first-menu .menu-item:focus-within > .sub-menu,
  .really-first-menu .menu-item .sub-menu:hover,
  .really-first-menu .menu-item .sub-menu:focus {
    opacity: 1;
    pointer-events: initial;
    transform: translateY(0);
    z-index: 100;
  }

  .really-first-menu .menu-item-has-children .sub-menu .menu-item {
    min-width: max-content;
  }

  .really-first-menu .menu-item-has-children .sub-menu .menu-item::after {
    bottom: 0;
    right: 10px;
  }

  .really-first-menu .menu-item-has-children .sub-menu .menu-item + .menu-item {
    border-top: 1px solid $hex-586;
  }

  .really-first-menu .menu-item-has-children .sub-menu .menu-item a {
    background-color: $hex-fff;
    border-radius: 0;
    min-width: 120px;
  }

  .really-first-menu .menu-item-has-children .sub-menu .menu-item a:hover {
    background-color: $hex-0f1;
    color: $hex-fff;
  }
}

/* XL (desktop) */
@media (min-width: 1200px) {
  .header > .container {
    column-gap: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .really-first-menu {
    column-gap: 5px;
  }
}
