/** 
  * MAIN
**/

.main {
  padding-top: 50px;
  min-height: 500px;

  > .title-seo {
    position: absolute;
    z-index: -1000;
    color: transparent;
  }

  > .container {
    @include breakpoint( lg ) {
      display: grid;
      grid-template-columns: 1fr minmax(350px, 350px);
      gap: 0 30px;
    }
  }

  > .container > section {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

    @include breakpoint( md ) {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint( lg ) {
      grid-template-columns: 1fr;
    }
  }
}
