/** 
  * MAIN
**/

.main {
  padding: 50px 0;
  min-height: 500px;
}

.main > .container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

/* LG (laptop) */
@media (min-width: 1025px) {
  .main > .container {
    column-gap: 20px;
    flex-direction: row;
  }
}

/* XL (desktop) */
@media (min-width: 1366px) {
  .main > .container {
    column-gap: 35px;
  }
}
