/** 
  * MAIN
**/

.main {
  padding: 50px 0;
  min-height: 500px;
}

.main > .container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @include breakpoint( lg ) {
    column-gap: 20px;
    flex-direction: row;
    justify-content: space-between;
  }

  @include breakpoint( xl ) {
    column-gap: 35px;
    justify-content: space-between;
  }
}
